html, body {
  font-family: sans-serif;
  box-sizing: border-box;
}
p{
  font-size: 12pt;
  vertical-align: middle;
  text-align: center;
}
form {
  width: 400px;
  background: #ccc;
  margin: 10px 3px;
  padding: 20px;
  border: 1px solid black;
  border-style: groove;
  border-radius: 8px;
}
form p{
  text-align: left;
}
form ol {
  padding: 5px;
}

form li, ul > li {
  background: #eee;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
}

form img {
  height: 64px;
  order: 1;
}
form span{
  vertical-align: middle;
  margin-top: 20px;
  padding-left: 10px;
}


form label{
  background-color: rgb(190, 190, 190);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

form input[type="button"]{
  margin-top: 10px;
  padding: 3px;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
}

form label:hover, form button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

form label:active, form button:active {
  background-color: #0D3F8F;
  color: white;
}
section {
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  padding-bottom: 80px;
  width: 21cm;
}
.container {
  width: 100%;
  text-align: left;
  vertical-align: text-top;
  margin-right: auto;
  margin-left: auto;
  min-height: fit-content;
}
.box {
  display: inline-table;
  border-color: black;
  border-style: groove;
  border-width: 2px;
  border-radius: 15px;
  margin: 2px 2px;
  padding: 0;
}
.box > img, .box p {
  border-radius: 14px 14px 0px 0px;
  font-size: 6pt;
}
#cabecalho{
  display: grid;
  grid-template-columns: 15% 85%;
  margin: 0.5cm;
}
#texto{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}